IS_PRODUCTION=False
IS_STAGING=False
ALLOWED_HOSTS='localhost 127.0.0.1 0.0.0.0 [::1]'
SECRET_KEY=
# database access credentials
ENGINE=django.db.backends.postgresql
POSTGRES_DB_NAME=
POSTGRES_DB_USER=
POSTGRES_DB_PASSWORD=
POSTGRES_DB_HOST=localhost
POSTGRES_DB_PORT=5432
# App port
APP_PORT=9001
#superuser details
DJANGO_SU_NAME=
DJANGO_SU_EMAIL=
DJANGO_SU_PASSWORD=